<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=pageInfo.title%></title>
    <meta name="description" content="<%=pageInfo.description%>">
    <link href="/html-modules/style.css?ver=<%=pageInfo.fileVersion%>" rel="stylesheet"><!--BRISI OVO U LIVE-->
    <!--<link href="/html-modules/minified/style.min.css?ver=<%=pageInfo.fileVersion%>" rel="stylesheet">-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/Solver-Shortcut.png" type="image/x-icon" />
    <meta property="og:title" content="<%=pageInfo.title%>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%=pageInfo.url%>" />
    <meta property="og:site_name" content="<%=pageInfo.siteName%>" />
    <meta property="og:description" content="<%=pageInfo.description%>" />
    <meta property="og:image" content="<%=pageInfo.pageImage%>" />
    <script src="/html-modules/scroll.js?ver=<%=pageInfo.fileVersion%>"></script><!--BRISI OVO U LIVE-->
    <!--<script src="/html-modules/minified/scroll.js?ver=<%=pageInfo.fileVersion%>"></script>-->
    <script src="/html-modules/menu.js?ver=<%=pageInfo.fileVersion%>"></script><!--BRISI OVO U LIVE-->
    <!--<script src="/html-modules/minified/menu.js?ver=<%=pageInfo.fileVersion%>"></script>-->
  </head>
  <body>
    <header>
      <%- include ("partials/menu") -%>
    </header>